include LICENSE
include README.md
include com.bdingle.dzll.desktop
include requirements.txt

graft src/dzll_launcher

prune src/dzll_launcher/audio/old

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.old
global-exclude *.bak
global-exclude *.bak_*
global-exclude *~
